<manifest package="com.inq.cleanexample.presentation">

    <application xmlns:android="http://schemas.android.com/apk/res/android">
        <activity
            android:name=".main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>